<div class="col-10 offset-1 search-for-doc-container">

  <mat-card>
    <div class="search">
      <div class="search-content">
        <mat-card-title>Search for doctor and make and appointment</mat-card-title>
        <mat-card-content>
          <mat-form-field appearance="fill">
            <mat-label>Medical specialization</mat-label>
            <mat-select [(ngModel)]="specialization">
              <mat-option *ngFor="let specialization of specializations" [value]="specialization">
                {{specialization}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="legacy">
            <mat-label>City:</mat-label>
            <input type="text" matInput placeholder="City:" (keyup.enter)="submitForm()" [(ngModel)]="city">
          </mat-form-field>


        </mat-card-content>
      </div>

      <div class="form-button-row">
        <button class="submit-button" type="button" mat-button mat-raised-button (click)="submitForm()">
          Search
        </button>
        <button class="clear-button" type="button" mat-button mat-raised-button color="warn" (click)="clearForm()">
          Clear form
        </button>
      </div>
    </div>

  </mat-card>

  <mat-card>
    <mat-card-title>Recently joined YourDoctor</mat-card-title>

    <mat-card *ngFor="let doctor of doctors">
      <div class="doctor-content">
        <div class="doctor-image">
          <img class="doctor-image" src="../assets/images/placeholder.png">
        </div>
        <div class="doctor-desc">
          <h2>Doctor {{doctor.firstName}} {{doctor.lastName}}</h2>
          <h3>{{doctor.specializations}}</h3>
          <span><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum architecto ab culpa nesciunt mollitia aut voluptatibus magnam assumenda consequatur, quos, nam similique illo blanditiis, adipisci quibusdam odit natus ipsum numquam.</p></span>
          <button mat-raised-button color="primary" [routerLink]="['/doctor',doctor.id,'make-appointment']"  >Make an appointment</button>
        </div>
        <div class="doctor-address" *ngFor="let address of doctor.addresses; index as i">
          <div class="doctor-address-content">
            <p>Address {{i+1}}:</p>
            <span>{{address.street}} {{address.number}}</span><br>  
            <span>{{address.city}} {{address.zipCode}}</span>
          </div>
        </div>
      </div>

    </mat-card>


  </mat-card>




</div>